/* ПРИМЕРЫ РАБОТ*/

.example {

    display: none;
    padding-top: 0;

    @media screen and (min-width: 1200px) {
    display: block;
    }
  }
  .example__list {
    display: flex;
  }
  .example__list .example__item + .example__item {
    margin-left: 30px;
  }
  .example__title {
    margin-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
  }
  .example__item {
    position: relative;
  }
  .example__box {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .example__box-title {
    text-align: center;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cl-white);
  }