/* LOGO FOOTER */

.logo-foot {
    margin-bottom: 20px;
  }
 .logo-web-foot {
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: calc(31 / 26);
   letter-spacing: 0.03em;
   color: var(--cl-mark);
 }
 .logo-studio-foot {
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: calc(31 / 26);
   letter-spacing: 0.03em;
   color: var(--cl-white);
 }