/*FOOTER*/

.foot-logo-contacts-social {

  display: flex; 


  @media screen and (max-width: 767px) {
     
       flex-direction: column;
  }
  @media screen and (min-width: 768px)and (max-width: 1199px) {
     
    gap: 165px;
     
  }
  
}

.foot {
   
    background-color: var(--cl-hero-foot-bg);
    padding: 60px 0;
    

    @media screen and (min-width: 768px)and (max-width: 1199px) {
    
      
      position: relative;
    
     
    }
   }
  .foot-nav{
    display: block;

    @media screen and (min-width: 1200px) {
    display: flex;
  }
  }
  .foot-adress-box {

     display: flex;
      flex-direction: column;
      align-items: center;
      width: 232px;
      height: 79px;
   
    
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;

    }  
         

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      
    
      margin-left: 61px;
     
    }

    @media screen and (min-width: 1200px) {
      align-items: flex-start;

      width: 231px;
      height: 81px;
      margin-left: 0;
      margin-right: 70px;
    }
   
  }
  .foot-address {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: calc(24 / 14);
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--cl-white);

    @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }

  }
   .foot-email {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: calc(24 / 14);
    font-style: normal;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--cl-mark);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
    }
  
  .foot-tel {
    font-size: 14px;
    line-height: calc(24 / 14);
    font-style: normal;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--cl-mark);
    }

    
    }
 