/*FOOTER*/

.foot {
   
    background-color: var(--cl-hero-foot-bg);
    padding: 60px 0;
   }
  .foot-nav{
    display: block;

    @media screen and (min-width: 1200px) {
    display: flex;
  }
  }
  .foot-adress-box {
    
   

    @media screen and (max-width: 767px) {
    
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
   

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 232px;
      height: 79px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 61px;
      
    }

    @media screen and (min-width: 1200px) {
      width: 231px;
      height: 81px;
      margin-right: 70px;
    }
   
  }
  .foot-address {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: calc(24 / 14);
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--cl-white);

    @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }

  }
   .foot-email {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: calc(24 / 14);
    font-style: normal;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--cl-mark);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
    }
  
  .foot-tel {
    font-size: 14px;
    line-height: calc(24 / 14);
    font-style: normal;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--cl-mark);
    }

    
    }
 