
:root {
    --main-cl: #212121;
    --main-cl-grey: #757575;
    --cl-bg-grey: #F5F4FA;
    --cl-white: #FFFFFF;
    --cl-mark: #2196F3;
    --cl-logo-head: #000000;
    --cl-hero-foot-bg: #2F303A;
    --cl-border-head: #ECECEC;
    --cl-border-projects: #EEEEEE;
    --cl-social-icon: #AFB1B8;
  } 

  body {
    font-family: "Roboto", sans-serif;
    color: var(--main-cl);
    background-color: var(--cl-white);
    }

    // breakpoints
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px;